<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unused CSS</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/multiple.css"/>
</head>
<body>
    <div id="heading">Very nice</div>
    <div class="notification">Oops</div>
</body>
</html>